* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
header {
  background-color: black;
  color: #fff;
  padding: 20px;
  /* grid-column: span 2; */
  grid-area: header;
}
nav {
  background-color: #444;
  color: #fff;
  padding: 20px;
  grid-area: nav;
}
.search {
  background-color: #666;
  color: #fff;
  padding: 20px;
  grid-area: search;
}
main {
  background-color: #f0f0f0;
  padding: 20px;
  grid-area: main;
}
aside {
  background-color: #ccc;
  padding: 20px;
  grid-area: aside;
}
footer {
  background-color: #666;
  color: #fff;
  padding: 20px;
  /* grid-column: span 2; */
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "nav" "search" "main" "main" "main" "aside" "aside" "footer";
  }
}
